@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
    background-color: #f3f3f3;
    font-family: 'Kanit', sans-serif;
}
section{
    width: 94%;
    margin: auto;
}
.header{
    display: flex;
    height: 0.26%;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    width: 7.5%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

button{
    border: none;
    background: none;
}

#header-menu-get-started{
    background: rgba(8, 30, 52, 0.12);
    border-radius: 100px;
    padding: 10px 12px;
}

/*  */

.description{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.description-info{
    display: flex;
    flex-direction: column;
    
    width: 34.375%;
    height: 15.34%;
}
.d-i-t-h1{
    font-size: 60px;
}
#d-second{
    display: none;
}
.description-info-button{
    margin-top: 10px;
    color: white;
    background-color:rgb(133, 51, 210);
    border-radius: 100px;
    padding: 10px 12px;
    width: 30%;
}
.description-visual{
    width: 43%;
    height: 17.6%;
}
.description-visual-img img{
    border-radius: 20px;
}
/*  */

.second-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    background-color: #E1DEE7;
}

.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 23.55%;
    margin-top: 40px;
}
.how-it-works h2{
    font-size: 40px;
}

.steps{
    display: flex;
    justify-content: space-evenly;
}
.steps-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*  */

.third{
    display: flex;
    height: 422px;
    align-items: center;
}

.third-main{
    width: 52.57%;
    height: 60%;
}
.third-main h1{
    font-size: 40px;
}
.third-main-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t-m-i-search{
    display: flex;
    width: 80%;
    align-items: center;
    border-radius: 15px;
    background-color: white;
}
.t-m-i-search p{
    opacity: 20%;
}
.t-m-i-search img{
    margin-left: 10px;
    margin-right: 10px;
}
.t-m-i-button{
    color: white;
    border-radius: 30px;
    padding: 17px 12px;
    width: 15%;
    background-color:blueviolet;
}
/*  */
.fouth{
    display: flex;
    align-items: center;
    justify-content: center;
}
.documents{
    display: flex;
    justify-content: space-between;
}
.documents-visual{
    width: 43%;
    height: 17.6%;
}
.CV-info{
    display: flex;
    width: 34.375%;
    height: 15.34%;
    flex-direction: column;
    justify-content: space-between;
}
#c-i-t-h1{
    font-size: 60px;
}
.CV-info-button{
    margin-top: 30px;
}
.CV-info-button button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 17px 12px;
    width: 23%;
    background-color:blueviolet;
}
/*  */
.final{
    width: 100%;
    margin-top: 50px;
    background-color: white;
}
.final footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}
.final-line{
    margin-left: 4%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}
.final-line-buttons{
    display: flex;
    width: 28%;
    justify-content: space-around;
    align-items: center;
}
.n-footer{
    margin-right: 4%;
    display: flex;
    flex-direction:row-reverse ;
}

/* applying media queries for the mobile version */
@media screen and (max-width: 1200px) and (max-height: 2550px){
    body{
        width: 1200px;
        display: block;
    }
    section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .header{
        height: 100px;
        padding-top: 25px;
        margin-left: 40px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }
    .mob{
        display: none;
    }
    #header-menu-get-started{
        font-size: 30px;
        width: 100%;
        height: 90%;
    }
    .header-logo{
        transform: scale(2);
    }
    .header-menu{
        width: 20%;
        transform: scale(1.15);
    }
    /* start of second */
    .description{
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    .description-visual{
        padding-left: 65px;
        order: -1;
        height: 900px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(1.5); */
    }
    .description-visual-img{
        transform: scale(1.75);
    }
    .description-info{
        padding-left: 90px;
        margin-right: 60px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description-info-texts{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .d-i-t-h1{
        display: none;
    }
    #d-second{
        margin: 0;
        padding-top: 75px;
        padding-bottom: 25px;
        display: block;
        font-size: 100px;
    }
    .description-info-texts p{
        font-size: 40px;
    }
    .description-info-button{
        font-size: 40px;
        width: 45%;
        height: 150px;
    }
    /* end of second */
    /*  */
    .second-section{
        height: auto;
        width: 110%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .how-it-works{
        width: 100%;
        font-size: 40px;
    }
    .how-it-works h2{
        margin: 40px;
        text-align: center;
        width: 100%;
        font-size: 100px;
    }
    /* .how-it-works{
        margin-top: 200px;
    } */
    .steps{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding-left: 200px;
        padding-top: 125px;
        /* text-align: center; */
    }
    .steps-layout{
        width: auto;
        height: auto;
        margin-bottom: 60px;
    }
    .steps-image{
        width: 150px;
        height: 150px;
    }
    .steps-skills-text{
        font-size: 50px;
    }
    .steps-skills-text h3{
        font-size: 60px;
    }
    /*  */
    .third{
        height: auto;
        display: flex;
        justify-content: center;
    }
    .third-main{
        width: 80%;
        text-align: center;
        font-size: 50px;
    }
    .third-main h1{
        font-size: 100px;
        width: 100%;
    }
    .third-main-text{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    .third-main-input{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .t-m-i-search{
        border-radius: 100px;
        width: 100%;
    }
    .t-m-i-search img{
        margin-left: 50px;
        margin-right: 25px;
        height: 100px;
    }
    .t-m-i-button{
        margin-top: 100px;
        font-size: 60px;
        border-radius: 100px;
        width: 50%;
        height: 200px;
    }
    /*  */
    .fourth{
        height: auto;
    }
    .documents{
        flex-direction: column;
    }
    /* .documents-visual{
        height: 900px;
        width: 100%;
    } */
    .documents-visual-img{
        height: 900px;
        width: 100%;
        display: flex;
        padding-left: 330px;
        justify-content: center;
    }
    .documents-visual-img img{
        transform: scale(0.80);
    }
    .CV-info{
        width: 90%;
        padding-left: 50px;
    }
    .CV-info-texts{
        width: auto;
        font-size: 60px;;
    }
    #c-i-t-h1{
        font-size: 100px;
    }
    .CV-info-button button{
        margin-top: 100px;
        font-size: 60px;
        border-radius: 100px;
        width: 50%;
        height: 200px;
    }
    .CV-info-button button img{
        height: 90px;
    }
    .final{
        height: auto;
        padding-right: 100px;
    }
    .final footer{
        height: auto;
        flex-direction: column;
        padding-left: 50px;
    }
    .final-line{
        margin-top: 50px;
        height: auto;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .final-line-buttons{
        padding-left: 15px;
        height: auto;
        flex-direction: column;
        align-items:flex-start;
        margin-bottom: 50px;
    }
    .fl-text{
        font-size: 38px;
        padding-bottom: 75px;
    }
    .twitter{
        height: 100px;
    }
    .twitter img{
        transform: scale(2.5);
    }
    .instagram{
        height: 100px;
    }
    .instagram img{
        transform: scale(2.5);
    }
    #credits{
        font-size: 40px;
        opacity: 50%;
        text-align: start;
        
    }
    .n-footer{
        justify-content: start;
    }
    .n-footer button{
        padding-left: 50px;
        font-size: 40px;
        justify-content: start;
        align-items: flex-start;
    }

}